* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

#content {
    background: linear-gradient(yellow, white);
    height: 100vh;
    width: 100vw;
}

.input-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: sans-serif;
}

.tempInput {
    border: 2px solid black;
    border-radius: 6px;
}

.labelWrapper:hover .tempInput{
    background-color: yellow;
}